* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #001429;
  color: white;
}
h1 {
  font-size: 80px;
  line-height: 1;
  margin-bottom: 20px;
  color: #2fbad6;
}

nav {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
  background-color: #002956;
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: #2fbad6;
  text-decoration: none;
  margin-left: 20px;
}

a {
  color: #2fbad6;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #2fbad6;
}

ul {
  list-style-type: disc;
  padding-left: 40px;
  margin: 5px 0;
}

li {
  margin-bottom: 10px;
  line-height: 1.6;
}

.buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.btn {
  background: #2fbad6;
  color: black;
  padding: 14px 28px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

.btn-outline {
  border: 2px solid #2fbad6;
  color: #2fbad6;
  padding: 14px 28px;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  background: white;
}

.btn-outline:hover {
  background: white;
  color: black;
}

.btn,
.btn-outline {
  transition: 0.3s ease;
}
@media (max-width: 768px) {

  .container {
    flex-direction: column;
  }

  h1 {
    font-size: 50px;
  }

  .right {
    padding: 40px;
  }
}